body {
    background: rgb(236, 239, 241);
    font-family: 'Open Sans', sans-serif;
  }
  
  .login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
    padding: 200px;
  }
 

  .login-header,
  .login p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  
  
  .login-header {
    background: #28d;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  
  .login-container {
    background: #332c2c;
    padding: 12px;
  }
  
  .login p {
    padding: 12px;
  }
  
  .login input {
    box-sizing: border-box;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    font-family: inherit;
    font-size: 0.95em;
  }
  
  .login input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .login input[type="submit"]:hover {
    background: #17c;
  }
  
.form-control{
  padding: 12px;
}
  